<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>nerd_dev</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <script type="text/javascript" src="static/js/webtoolkit/base64.js"></script>
    <script type="text/javascript" src="static/js/jquery.js"></script>
    <script src="http://code.google.com/apis/gears/gears_init.js" type="text/javascript"></script>
    <script src="static/js/geo.js" type="text/javascript" ></script>
    <script type="text/javascript" src="static/js/actions.js"></script>
    <script type="text/javascript">

    var UPDATE_URL = 'http://' + '{{ host }}' + '{% url app.views.update %}';


    $(document).ready(function(){


    getGeoData();
      updateFeed();
    });
     
    </script>

  </head>
  <body>
    <div class="container">

      <!-- Login info input for tweeting. Testing purposes only.  -->
     <table>
       <tr>
	 <td>
	   <p>username:</p>
	 </td>
	 <td>
	   <input id="username" />
	 </td>
       </tr>
       <tr>
	 <td>
	   <p>password:</p>
	 </td>
	 <td>
	   <input id="password" />
	 </td>
       </tr>
     </table>


      <textarea id="tweet_text" rows="4" cols="30">
All your base are belong to us
      </textarea>
      <br />
      <input type="submit" value="Tweet!" onCLick="tweet()" />
      <br />
      <input type="submit" value="Refresh" onCLick="updateFeed()" />
    
      <div class="feed" style="display: none">

      </div>
    </div>
  </body>
</html>
